// .main-header {
//   .container {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding: 2rem 0rem;
//   }
//   nav a {
//     display: inline-block;
//     margin-left: 1rem;
//     font-size: 1rem;
//   }
//   button {
//     outline: none;
//     cursor: pointer;
//     font-size: 1rem;
//     display: inline-block;
//     margin-left: 1rem;
//     border: none;
//   }
// }


.main-header {
  background: linear-gradient(135deg, #1e1e1e, #4a4a4a); /* Smooth gradient background */
  color: #fff;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
  padding: -1% 1% 3%; /* Default padding */
  position: relative; /* Ensures dropdowns or overlays are positioned properly */
  // position: sticky; /* Make header stick to the top of the viewport */
  // top: 0; /* Stick to the top when scrolling */
  // z-index: 1000; /* Ensure it's above other content */
  // transition: all 0.3s ease;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 0;
    
  }

  .logo {
      font-size: 1.3rem;
      font-weight: bold;
      color: #ff77c2; /* Pink color for the logo to stand out */
      text-transform: uppercase;
      text-decoration: none;
      transition: color 0.3s ease;
    }
    
    .logo:hover {
      color: #ffffffe3; /* Logo color change on hover */
    }

  nav {
    a {
      display: inline-block;
      margin-left: 1rem;
     font-size: 1rem;
      font-weight: 500;
      text-decoration: none;
      color: #ffffff; /* Default link color */
      border-bottom: 2px solid transparent; /* Subtle underline */
      transition: all 0.3s ease-in-out;
      text-align: center;
      &:hover {
        color: #ff7dc4; /* Accent color on hover */
        border-bottom-color: #ff7dc4; /* Highlight underline on hover */
      }
    }
  }
}
///////////////

  